<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="tit">
      <ul>
        <li class="top-li"><b>會員管理系統</b></li>
        <li class="top-li">
          <a class="top-a" aria-current="page" href="/create_member"> 新增</a>
        </li>
        <li class="top-li">
          <a class="top-a" aria-current="page" href="/search_member">查詢</a>
        </li>
        <li class="top-li">
          <a class="top-a" aria-current="page" href="/shop_sys">購物車系統</a>
        </li>
        <li class="top-li">
          <a class="top-a" aria-current="page" href="/shop_search"
            >購物車查詢</a
          >
        </li>
      </ul>
    </div>
    <br />
  </body>
</html>
