<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

    div li {
        display: inline;
        margin-right: 10px;
    }

    div a {
        color: black;
        text-decoration: none;
    }

    /* 會員管理系統 新增 查詢 */
    .tit {
        background-color: #dddedf;
        height: 30px;
        width: 100%;
        font-size: 20px;
    }

</style>


<body>

    <div class="tit">
        <ul>
            <li><b> 會員管理系統</b>
            <li><a aria-current="page" href="/create_member"> 新增</a>
            <li><a aria-current="page" href="/search_member">查詢</a>
            <li><a aria-current="page" href="/shop_sys">購物車系統</a>
            <li><a aria-current="page" href="/shop_search">購物車查詢</a>
            </ul>
    </div><br>
    
</body>
</html>
